body {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
      grid-template-areas: "menu simulator";
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.font, .subtitle {
  font-size: 24px;
  color: #fffdfd;
}

.menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6d6da3;
}

.subtitle {
  position: relative;
  bottom: 35px;
}

h3 {
  margin: 2.5vh 0;
}

.color-options {
  width: 150px;
  height: 100px;
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.option-box, #pink-box, #salmon-box, #blue-box, #white-box, #orange-box, #green-box {
  height: 45%;
  width: 30%;
}

#pink-box {
  background-color: pink;
}

#salmon-box {
  background-color: salmon;
}

#blue-box {
  background-color: lightblue;
}

#white-box {
  background-color: white;
}

#orange-box {
  background-color: orange;
}

#green-box {
  background-color: #59cc8d;
}

.format-options {
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.format-box, #format-round, #format-square {
  height: 40px;
  width: 40px;
}

#format-round {
  background-color: hotpink;
  border-radius: 50%;
}

#format-square {
  background-color: hotpink;
}

#size-options {
  height: 25px;
  width: 170px;
}

.align-options {
  height: 120px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.align-box {
  width: 170px;
  height: 120px;
}

.input-decoration, #size-options, .align-box {
  border-radius: 5px;
  border: #040404 solid;
  border-width: 3px;
  outline: none;
}

#simulator {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: simulator;
  padding: 30px;
  background-color: #ecdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.flex-box {
  height: 140px;
  width: 140px;
  background-color: pink;
  border: black solid 1px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: background-color border-radius;
  transition-property: background-color border-radius;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.box-selection {
  border: #040404 solid 3px;
}
/*# sourceMappingURL=style.css.map */