@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: white;
    margin: 0;
    padding: 0;
}


.content{
    background-color:oklch(0.257 0.09 281.288);
    margin: 5% 70% 0 10px;   
    width: 30%;
    border-radius: 30px 10px 30px 10px;
    padding: 5px;
}


.menu{
    display: flex;
    background-color: oklch(0.257 0.09 281.288);
    text-align: center;
    margin: 0;
    width:100%;
}

.title{
    color: white;
    font-size: 26px;
}

.box {
    font-family: 'Playfair Display', Arial;
    font-size: 22px;
    width: 45%;
}

.instance {
    font-size: 20px;
    font-family: 'Playfair Display', Arial;
    color: WHITE;
}


.material-icons{
    color: white;
    padding: 5px;
}


a:link {
    font-size: 20px;
    font-family: 'Playfair Display', Arial;
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: underline;

}

a:hover {
    color:oklch(0.379 0.146 265.522) ;
    text-decoration: none;

}