


html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 'topo topo' 'menu content';
    min-height: 100vh;

}

header {
    grid-area: topo;
    position: relative;
    background-color: white;
    border-left: 1px solid black;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

#profile-image {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 20px;
    background-color: black;
    border-radius: 50%;
}


#title {
    color: black;
    font-size: 3.5vw;
}

#image {
    height: 80px;
    width: 80px;
}

.menu-topo {
    display: none;
    text-align: center;

}

.material-icons {
    font-size: 40px !important;
    color: black;
    position: relative;
    margin: auto 0;
}

.material-icons:hover {
    color: rgb(31, 103, 111);
    cursor: pointer;
}

main {
    grid-area: content;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 20px;
}

.info-div {
    text-align: center;
    max-width: 600px;
    margin: auto 0;
}

nav {
    grid-area: menu;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

#menu-lateral {
    width: 200px;
    height: 500px;
    padding: 5px;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    left: 0;
    z-index: 1;
    transform: translateX(-220px);


}


.menu-item {
    background-color: black;
    text-align: center;
    height: 50px;
    width: 80%;
    margin: 20px;
    padding: 1%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.menu-item:hover {
    background-color: rgb(31, 103, 111);
}

.p-item {
    color: white;
    font-size: 22px;
    position: relative;
    bottom: 25%;
}

a:link {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: underline;

}

a:hover {
    color: black;
    text-decoration: none;

}




.menu-open {
    animation-name: menuOpen;
    animation-duration: 0.5s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.menu-close {
    animation-name: menuClose;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}



@keyframes menuOpen {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(200);

    }

}

@keyframes menuClose {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200);

    }


}

@media screen and (max-width: 700px) {
    body {
        grid-template-columns: 100px 1fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas: 'menu-topo topo' 'content content';
    }

    nav {
        display: none;
    }

    .menu-topo {
        display: grid;
        grid-area: menu-topo;
    }

    #menu-lateral {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #profile-image {
        height: 60px;


        width: 60px;
    }

    #image {
        height: 60px;
        width: 60px
    }

    .menu-title {
        background-color: black;
        height: 50px;
        width: 90%;
        margin: 20px;
        padding: 1%;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 15px;
    }

    .p-item {
        color: white;
        font-size: 20px;
        position: relative;
        bottom: 25%;
    }

    .info-div {
        width: 300px;
    }

}

@media screen and (min-width: 700px) {
    #menu-lateral {
        display: none;
    }



}