body {
  background-image: url("images/background.png");
  overflow: hidden;
  font-family: "Playfair Display", serif !important;
}

#modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out 0.1s;
}

#modal-title {
  font-size: 30px;
  color: white;
}

#menu {
  position: absolute;
  width: 200px;
  height: 250px;
  margin: 15px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 10px 5px white;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu-items {
  margin: 5px;
}

.text-menu {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 100px;
}

#nave {
  position: absolute;
  top: 600px;
  left: 650px;
  z-index: 4;
}

#missilLeft {
  position: absolute;
  top: 620px;
  left: 660px;
  transition: top 0.5s ease-in-out;

}

#missilRight {
  position: absolute;
  top: 620px;
  left: 710px;
  transition: top 0.5s ease-in-out;

}