body {
    background-image: url("https://gileduardo.com.br/ifpr/dw/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10vh;
}

a{
    font-size: 22px;
    padding-right: 2px;
    text-decoration: none;
}

a:link{
    color: white
}
a:hover{
    opacity: 0.6;
}

a:visited{
    color: white;
}

.page-text {
    color: #000087;
}

#topics {
    font-size: 20px;
}

.menu {
    background-color: #000087;
    border-bottom: 10px solid #AAD7E6;
}

.heading {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white
}


.material-icons{
    font-size: 42px !important;
    border-left: 2px solid white;
    padding-left: 10px;
    /* display: inline-block; */
    

}

.first {
    padding-right: 50px;
    font-size: 32px;
}

.second {
    padding-left: 20px;
    padding-right: 50px;
    font-size: 32px;
}

.third {
    padding-left: 20px;
    font-size: 32px;
}