body {
    background-image: url("https://gileduardo.com.br/ifpr/dw/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10vh;
}

a {
    font-size: 22px;
    text-decoration: none;
    padding-right: 10px;
    border-right: solid 2px white;
}

a:link{
    color: white
}
a:hover{
    opacity: 0.6;
}

a:visited{
    color: white;
}

.page-text {
    color: #000087;
}

#topics {
    font-size: 20px;
}

.menu {
    background-color: #000087;
    border-bottom: 10px solid #AAD7E6;
}

.heading {
    margin: auto;
    color: white
}


.material-icons{
    font-size: 42px !important;
    border-left: 2px solid white;
    padding: 0 10px 0 10px;
    

}

.link{
    padding: 20px;
    text-align: center;
}

