.botao {
    display: inline;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: purple;
    color: white;
    font-size: 20px;
}

.text {
    font-size: 20px;
    display: inline;

}